name: Check PR

on:
  [pull_request]

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Android SDK
        uses: actions/setup-android@v2
      - name: Run ktlint
        run: ./gradlew :ariesframework:ktlintCheck || true
      - name: Checkstyle
        uses: actions/checkstyle-github-action@v1.2
        with:
          name: ktlint Report
          path: 'ariesframework/build/reports/ktlint/**/*.xml'
      - name: Build
        run: ./gradlew assembleDebug
